 <!-- Productos es variable con coneccion-->
<div class="row container shadow-lg primer rounded-star">

  <div class="card m-4" *ngFor="let item of
    productosSinfireb" style="width: 18rem;">
    <div class="card-header">

      <h3 class="card-title text-center">
        {{item.nombre}}
      </h3>
    </div>


    <img class="card-img-top" [src]="item.rutaImagen" [alt]="item.nombre"
      style="width: 18rem; height: 300px;">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h2 class="card-title">{{item.precioVenta}}</h2>
        </li>
        <li class="list-group-item">

          <p class="card-text">{{item.descripcion}}</p>

        </li>
        <li class="list-group-item">

          <p class="card-text">medidas</p>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <div class="container d-flex justify-content-around">
        <button type="button" class="btn btn-primary
          btn-sm">Agregar</button>

        <a type="button" [routerLink]="['/tienda',item.id]"
          routerLinkActive="router-link-active" class="btn btn-succes btn-sm">ver
          Detalle</a>

      </div>
    </div>
  </div>
</div>

<!--Productos con coneccion-->

<div class="row container shadow-lg primer rounded-star">

  <div class="card m-4" *ngFor="let item of
    productos" style="width: 18rem;">
    <div class="card-header">

      <h3 class="card-title text-center">
        {{item.nombre}}
      </h3>
    </div>


    <img class="card-img-top" [src]="item.precioVenta" [alt]="item.nombre"
      style="width: 18rem; height: 300px;">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h2 class="card-title">{{item.precioVenta}}</h2>
        </li>
        <li class="list-group-item">

          <p class="card-text">{{item.descripcion}}</p>

        </li>
        <li class="list-group-item">

          <p class="card-text">medidas</p>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <div class="container d-flex justify-content-around">
        <button type="button"  class="btn btn-primary
          btn-sm">Agregar</button> 
          <!-- (click)="addCard(item.id)" -->

        <a type="button" [routerLink]="['/tienda/',item.id]"
          routerLinkActive="router-link-active" class="btn btn-success btn-sm">ver
          Detalle</a>

      </div>
    </div>
  </div>
</div>
