<div class="container">


<form [formGroup]="productosForm"  (ngSubmit)="crearProducto()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Crear Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <div class="row">
        <div class="col md-col-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="escriba id " formControlName="id">
            <mat-error *ngIf="productosForm.controls['id'].hasError('required')">
              su id  <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
       
        <div class="col md-col-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="nombre producto" formControlName="nombre">
            <mat-error *ngIf="productosForm.controls['nombre'].hasError('required')">
              nombre del producto es  <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder=" aqui su descripcion" formControlName="descripcion"></textarea>
            <mat-error *ngIf="productosForm.controls['descripcion'].hasError('required')">
              su descripcion <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
    

    
      <div class="row">
        <div class="col md-col-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="colores" formControlName="color">
            <mat-error *ngIf="productosForm.controls['color'].hasError('required')">
             colores  <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div class="col md-col-6">
            <mat-form-field class="full-width">
              <input matInput placeholder="nombre producto" formControlName="medidas">
              <mat-error *ngIf="productosForm.controls['medidas'].hasError('required')">
                medidas  <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="nombre producto" formControlName="precio">
            <mat-error *ngIf="productosForm.controls['precio'].hasError('required')">
              precio  <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        
      </div>

      <div class=" form-group row">
        <div class="col">
         
            <input (change)="capturarImagen($event)" placeholder="Suba una imagen" type="file"  formControlName="imagen">
            
         
        </div>
        
      </div>
     
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="productosForm.invalid"  type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>

  
</form>

</div>